* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.listUl{
    text-align: start;
    position: absolute;
}

.nav{
    display: inline-block;
    /* background-color: rgb(255, 123, 123); */
}

.homeTitle,
.profileTitle {
    margin: 5px 5px 10px 5px;
}